
name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-example:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        zig-versions: ["0.13.0", "0.14.0"]

    steps:
      - uses: actions/checkout@v3
      
      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ matrix.os }}

      - name: Check Zig Version
        run: zig version
          
      - name: Run tests
        run: zig build test
